localhost.cert
localhost.key
.history
node_modules
packages/o-events/dist/
packages/o-interfaces/dist/
packages/o-process/dist/
packages/o-utils/dist/
shell/public/bundle.css
shell/public/bundle.js
shell/public/index.html
shell/public/bundle.js.LICENSE.txt
shell/public/bundle.1.js
yarn.lock
