{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false
}
