@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

:root {
  --p: 162 91% 44%;
  --pf: 162 91% 44%;
  --pc: 0 0% 100%;
  --s: 220 100% 29%;
  --sf: 219 100% 28%;
  --sc: 0 0% 100%;
  --a: 162 91% 44%;
  --af: 162 91% 44%;
  --ac: 0 0% 100%;
  --n: 0 0% 17%;
  --nf: 0 0% 17%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12% 84%;
  --bc: 215 28% 17%;
  --in: 207 90% 54%;
  --su: 145 45% 50%;
  --wa: 36 100% 50%;
  --er: 0 87% 67%;

  --toastContainerTop: 0;
  --toastContainerRight: 0;
  --toastWidth: 100%;
  --primary: "#0ad99c",

}

.btn {
  font-family: Poppins;
  @apply font-bold;
  letter-spacing: 3px;
}

.btn-outline.btn-white {
  @apply text-white;
  @apply border-white;

}

.circles-button {
  padding-left: 3px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-top: 3px;
  min-width: 3.5rem;
}

.text-gradient {
  background: linear-gradient(to right, #003399, #0ad99c 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.truncateThis:before {
  content: "";
  @apply w-full;
@apply h-full;
  @apply absolute;
  @apply left-0;
  @apply top-0;
  /* background: linear-gradient(transparent 150px, #ffcc33); */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.001) 80%,
    #fff 100%
  );

  /* background: #ffcc33; */
}
.label {
    @apply text-center;
    @apply block;
}
.label-text {
  @apply text-white;
  @apply font-circles;
  font-size: 1.12rem;
  line-height: 1.7rem;
  @apply text-center;
  @apply break-words;
}

.input-error {
  --tw-border-opacity: 1!important;
  border-color: hsla(var(--er, 14 100% 57%)/var(--tw-border-opacity));
}

.infocard {
  background-color: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb;
  border: 1px solid #bee5eb;
}

.infocard-body {
  color: #0c5460; 
}