@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

:root {
  --p: 162 91% 44%;
  --pf: 162 91% 44%;
  --pc: 0 0% 100%;
  --s: 220 100% 29%;
  --sf: 219 100% 28%;
  --sc: 0 0% 100%;
  --a: 322 86% 63%;
  --af: 322 86% 63%;
  --ac: 0 0% 100%;
  --n: 0 0% 17%;
  --nf: 0 0% 17%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12% 84%;
  --bc: 215 28% 17%;
  --in: 207 90% 54%;
  --su: 145 45% 50%;
  --wa: 36 100% 50%;
  --er: 0 87% 67%;
}

.text-gradient {
  background: linear-gradient(to right, #003399, #0ad99c 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 3px;
}

.svelte-tabs ul.svelte-tabs__tab-list {
  border-bottom: none;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.svelte-tabs li.svelte-tabs__tab {
  flex-grow: 1;
  padding-bottom: 0;
  padding-right: 0;
  color: #fff;
  text-align: center;
  border-bottom: 4px solid rgb(243, 244, 246);
}
.svelte-tabs li.svelte-tabs__tab.svelte-tabs__selected {
  border-bottom: none;
}

.svelte-tabs li.svelte-tabs__tab:focus {
  outline: none;
}

.truncateThis:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* background: linear-gradient(transparent 150px, #ffcc33); */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.001) 80%,
    #fff 100%
  );

  /* background: #ffcc33; */
}
.label-text {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.input-error {
  --tw-border-opacity: 1!important;
  border-color: hsla(var(--er, 14 100% 57%)/var(--tw-border-opacity));
}