
.btn {
  @apply text-base;
  @apply text-dark;
  @apply normal-case;
  @apply font-medium;
  @apply tracking-normal;
      font-size: 1rem;
      line-height: 1rem;
    border-width: var(--border-btn, 1px);
    animation: button-pop var(--animation-btn, 0.25s) ease-out;


    &:active:hover,
    &:active:focus {
        animation: none;
    }

    &:active:hover,
    &:active:focus {
        transform: scale(var(--btn-focus-scale, 0.95));
    }

    /* default btn */
    & {
        @apply bg-neutral border-neutral text-neutral-content;

        &:hover,
        &-active {
            @apply bg-neutral-focus border-neutral-focus;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--nf));
        }
    }

    /* brand colors */
    &-primary {
        @apply text-base bg-primary border-primary;

        &:hover,
        &.btn-active {
            @apply bg-primary-light border-primary-light;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
        }
    }

    &-secondary {
        @apply text-base bg-secondary border-secondary;

        &:hover,
        &.btn-active {
            @apply bg-secondary-light border-secondary-light;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--s));
        }
    }

    &-accent {
        @apply bg-accent border-accent text-accent-content;

        &:hover,
        &.btn-active {
            @apply bg-accent-focus border-accent-focus;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--a));
        }
    }


    /* btn with state colors */
    &-info {
        @apply bg-info border-info text-base-200;

        &:hover,
        &.btn-active {
            @apply bg-info border-info;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--in));
        }
    }

    &-success {
        @apply bg-success border-success text-base-200;

        &:hover,
        &.btn-active {
            @apply bg-success border-success;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--su));
        }
    }

    &-warning {
        @apply bg-warning border-warning text-base-200;

        &:hover,
        &.btn-active {
            @apply bg-warning border-warning;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--wa));
        }
    }

    &-error {
        @apply bg-error border-error text-base-200;

        &:hover,
        &.btn-active {
            @apply bg-error border-error;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--er));
        }
    }

    /* glass */
    &.glass {

        &:hover,
        &.btn-active {
            --glass-opacity: 25%;
            --glass-border-opacity: 15%;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px currentColor;
        }
    }

    /* btn variants */
    &-ghost {
        @apply text-current bg-transparent border border-transparent;

        &:hover,
        &.btn-active {
            @apply border-opacity-0 bg-base-content bg-opacity-20;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px currentColor;
        }
    }

    &-link {
        @apply bg-transparent border-transparent text-primary;

        &:hover,
        &.btn-active {
            @apply underline bg-transparent border-transparent;
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px currentColor;
        }
    }

    /* outline */
    &-outline {
        @apply bg-transparent border-current text-base-content;

        &:hover {
            @apply bg-base-content border-base-content text-base-100;
        }

        &.btn-primary {
            @apply text-primary;

            &:hover {
                @apply text-base bg-primary-focus border-primary-focus;
            }
        }

        &.btn-secondary {
            @apply text-dark;

            &:hover {
                @apply text-base bg-secondary-light border-secondary-light;
            }
        }

        &.btn-accent {
            @apply text-accent;

            &:hover {
                @apply bg-accent-focus text-accent-content border-accent-focus;
            }
        }
    }

    /* disabled */
    &-disabled,
    &[disabled] {
        @apply border-opacity-0 bg-neutral bg-opacity-20 text-base-content text-opacity-20;
    }



    /* loading */
    &.loading {

        &.btn-square:before,
        &.btn-circle:before {
            @apply mr-0;
        }

        &.btn-xl:before,
        &.btn-lg:before {
            @apply w-5 h-5;
        }

        &.btn-sm:before,
        &.btn-xs:before {
            @apply w-3 h-3;
        }
    }
}

/* group */
.btn-group {

    &>input[type="radio"]:checked.btn,
    &>.btn-active {
        @apply text-base bg-primary border-primary;

        &:focus-visible {
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
        }
    }

    &>.btn:not(:first-child) {
        @apply -ml-px rounded-l-none;
    }

    &>.btn:not(:last-child) {
        @apply rounded-r-none;
    }
}

@keyframes button-pop {
    0% {
        transform: scale(var(--btn-focus-scale, 0.95));
    }

    40% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}