@import "./fonts.css";

.circles-button {
  padding-left: 3px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-top: 3px;
  min-width: 3.5rem;
}

input:focus,
select:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.autocomplete {
  height: calc(2rem * 3);
  width: 100%;
}

.autocomplete-results-list {
  /* bottom: 12.9rem;
    top: auto !important;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap-reverse; */
  position: relative;
  display: inline-flex;
  top: auto !important;
  bottom: 196px;
  width: 110%;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  /* ADJUSTED */
  height: 150px;
}

.autocomplete-list-item {
  padding: 0.5rem !important;
  width: 100%;
  height: 2rem;
}

.autocomplete-list-item-no-results {
  width: 100%;
}

.transaction-update-progress {
  vertical-align: top;
  height: 0.1rem;
  margin-top: 0.1rem !important;
}
